@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por :
 */


body{
	background: black;
	width:961px;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h2,{ 
	color:#000; 
	margin:100;
}
p{
	margin:0;
	text-align:justify;
}
a{
	text-decoration:none;
	color:#ccc; 
}
a:hover{
	color:#000;
}
table{
	background:#ccc; 
	border-collapse:collapse; 
	border: black 5px solid;
} 
table th{
	color:#FFF;
	text-align:center;
	padding:10px 10px;
	background-color:#000;
	height:20px;
}
table tr:nth-child(even) {/* css3 */ 	
 	color:black;
	background:#ccc; 
}
table tr:nth-child(odd) {/* css3 */
	background: #fff;
}
table tr:hover{
	color:#fff;
	background-color:#7a7a7a;
}

#banner{
	background-color:#CCC;
	background-image:url(http://ingsistemas.ufps.edu.co/templates/siteground-j15-117/images/headerimg.png);
	background-position:bottom center;
	width:100%;
	height:170px;
	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#banner .titulo{
	margin:15px 0;
	color:#000;
	text-align:right;
	margin-right:200px;
	font-size:23px;
	font-weight:bold;
}
#banner .subtitulo{
	color:#000;
	text-align:right;
	margin-right:200px;
	font-size:18px;
	font-weight:normal;
}

#contenido{
	border:2px solid #CCC;
	background-color:#CCC;
	margin:0 auto;
	width:96%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}

.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}